*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #888;
}

.container{
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px ;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, .3);
}

.title-small{
    font-size: 1rem;
}

.form-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.form-control{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 0.9rem;
    margin-bottom: 5px;
}

input, select, textarea{
    padding: 15px ;
    border: 1px solid #333;
    border-radius: 5px;
}

input, select, textarea:focus{
    outline-color: black;
}

.textarea-control{
    grid-column: 1 /span 2;
}

.textarea-control textarea{
    width: 100%;
}

.btn-container{
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: end;
}

.btn-container button{
    padding: 5px 10px;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 4px;
    transition: 0.3s;
}

.btn-container button:hover{
    background-color: #888;
    border: 1px solid #888;
}